@media all and (min-width: 0px) and (max-width: 750px){
    .toolbar{
        background-color: rgb(16, 97, 145);
        width: 100%;
    }
    .route-name{
       display: none;
    }
    .margin-right{
        display: none;
    }
    .button-box{
        display: flex;
        justify-content: space-between;
        margin: auto;
        gap: 5px;
    }
}

@media all and (min-width: 751px){
    .margin-right{
        margin-right: 20%;
        color: white;
    }
    .button-box{
        position: absolute;
        right: 0%;
    }button{
        margin-left: 5px;
        margin-right: 5px;
    }
    .toolbar{
        background-color: rgb(16, 97, 145);
    }
    .route-name{
        position: absolute;
        font-size: large;
        color: white;
        left: 48%;
        margin-left: 5px;
        margin-right: 5px;
    }
}