<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar class="toolbar">
    <span class="margin-right" *ngIf="!stockLength">Stock Levels</span>
    <span class="margin-right" *ngIf="stockLength">Stock Levels | {{ stockLength }} Unique Products!</span>

    <div class="button-box">
      <button  mat-raised-button color="warn" *ngIf="activeRoute === '/stock' || activeRoute === '/'" (click)="addBlankProduct()">
        Add Product
      </button>
      <button mat-raised-button color="primary" [routerLinkActive]="['active']">
        <span [routerLink]="['stock']">Stock</span>
      </button>
      <button mat-raised-button color="primary" [routerLinkActive]="['active']">
        <span [routerLink]="['shopping']">Shopping</span>
      </button>
      <button mat-raised-button color="primary">
        <span [routerLink]="['stock']">Access</span>
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</body>
</html>