<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar class="toolbar">
    <span class="margin-right" *ngIf="!stockLength || !userHasAccess">Stock Levels {{ !userHasAccess ? ' | Access Denied' : '' }}</span>
    <span class="margin-right" *ngIf="stockLength && userHasAccess">Stock Levels | {{ stockLength }} Unique Products!</span>

    <span class="route-name">{{ activeRoute | routeTranslate }}</span>

    <div class="button-box">
      <!-- STOCK PAGE BUTTONS -->
      <span *ngIf="activeRoute === '/stock' || activeRoute === '/'">
        <button mat-raised-button color="primary" (click)="saveProducts()">
          Save
        </button>
        <button mat-raised-button color="primary" (click)="addBlankProduct()">
          Add Product
        </button>
        <span class="divider">|</span>
      </span>

      <!-- SHOPPING PAGE BUTTONS -->
      <span *ngIf="activeRoute === '/shopping'">
        <button mat-raised-button color="primary" [disabled]="savedShoppingList" (click)="saveShoppingList()">
          Save
        </button>
        <button mat-raised-button color="primary" [disabled]="!savedShoppingList" (click)="resetShoppingList()">
          Reset
        </button>
        <button mat-raised-button color="primary" [disabled]="!savedShoppingList" (click)="submitShopping()">
          Shopping Done
        </button>
        <span class="divider">|</span>
      </span>

      <button mat-raised-button [color]="activeRoute === '/stock' ? 'primary' : 'basic'" [routerLinkActive]="['active']">
        <span [routerLink]="['stock']">Stock</span>
      </button>
      <button mat-raised-button [color]="activeRoute === '/shopping' ? 'primary' : 'basic'" [routerLinkActive]="['active']">
        <span [routerLink]="['shopping']">Shopping</span>
      </button>
      <button mat-raised-button [color]="activeRoute === '/access' ? 'primary' : 'basic'" [routerLinkActive]="['active']">
        <span [routerLink]="['access']">Access</span>
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</body>
</html>